.a {
    text-align: center;
    display: block;
    width: 600px;
    height: 590px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: inset 2px rgb(114, 83, 250);
    border-bottom: 4px #000000;
    background-color: beige;
    border-left: 2px black;
    border-right: 2px black;
}
.claseDiv{
    border: 1px solid #000;
    padding: 5px;
    border-radius: 20px;
    background: #222;
    color: #fff;
}
.lista{   
    text-align: center;
    display: block;
    width: 600px;
    height: 590px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: inset 2px rgb(114, 83, 250);
    border-bottom: 4px #000000;
    background-color: beige;
    border-left: 2px black;
    border-right: 2px black;
    
}


