body{
    background-image: url("../imagenes/pexels-alljos-866351.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.claseDiv{
    border: 1px inset #838181;
    padding: 5px;
    border-radius: 20px;
    background: #222;
    color: #fff;

}
.lista{   
    text-align: center;
    display: block;
    width: 600px;
    height: 620px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-family:unset;
    border: inset 2px rgb(114, 83, 250);
    border-bottom: 4px #000000;
    background-color: rgb(218, 218, 218);
    border-left: 2px black;
    border-right: 2px black;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #949292;  
}




