body{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 4%, rgba(124, 87, 199, 1) 47%, rgba(64, 64, 194, 1) 94%);
    background-repeat: no-repeat;
    background-size:cover;
}
.claseDiv{
    border: 1px inset #000;
    padding: 5px;
    border-radius: 20px;
    background: #bcaef4;
    color: hsl(0, 0%, 12%);
    box-shadow: 20px;
    margin-top: 8px;
}

.lista{   
    text-align: center;
    display: block;
    width: 600px;
    height: 620px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-family:unset;
    background-color: rgb(232, 235, 244);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #949292;  

}

.inputConsulta{
    border-radius: 20px; 
    background-color:rgb(139, 144, 243);
    color: rgb(2, 21, 21);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bolder;
    display: flex; 
    gap: 15px;
    flex-wrap: wrap;
    margin:0 auto;
}

.inputConsulta:hover{
    background-color: rgb(130, 90, 187);

}




