.contenedor{
    padding: 20px;
    margin:0 auto;
    margin-top: 80px;
    width: 350px;
    height: 500px;
    border: inset;
    text-align: center;
    justify-content: center;
    background-color: rgb(78, 132, 194);
    border-radius: 20px;
    border: none;
}

.caja{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
   height: 150px; 
   width: 150px;
   object-fit: cover;
   border-radius: 20px;
   opacity: 0.4;
}

.cajita{
    border-radius: 15px;
    background-color: rgb(193, 233, 240);
}